@import "bootstrap-iso.css";
@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,700";
@import url('https://fonts.googleapis.com/css?family=Roboto');

div#ap-content-wrapper
{
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
}
:root
{
	--yellowtheme: #FFEB3B;
	--yellowthemesec: #F57F17;
	--bluetheme: #00C4FF;
	--bluethemesec: #006064;
	--greentheme: #25D366;
	--greenthemesec: #0C8731;
	--pinktheme: #F94877;
	--pinkthemesec: #880E4F;
}

div#ap-content-wrapper ul#newtablist
{
	margin:0;
	padding:0;
}
div#ap-content-wrapper div.previewblock.yellowtheme ul#newtablist,div#ap-content-wrapper div.previewblock.yellowtheme #newtablistdrop
{
	background-color: var(--yellowtheme);
}
div#ap-content-wrapper div.previewblock.bluetheme ul#newtablist,div#ap-content-wrapper div.previewblock.bluetheme #newtablistdrop
{
	background-color: var(--bluetheme);
}
div#ap-content-wrapper div.previewblock.greentheme ul#newtablist,div#ap-content-wrapper div.previewblock.greentheme #newtablistdrop
{
	background-color: var(--greentheme);
}
div#ap-content-wrapper div.previewblock.pinktheme ul#newtablist,div#ap-content-wrapper div.previewblock.pinktheme #newtablistdrop
{
	background-color: var(--pinktheme);
}
div#ap-content-wrapper ul#newtablist li
{
	display: inline-block;
	margin:0;
	padding:0;	
}
div#ap-content-wrapper ul#newtablist li a.tablink,div#ap-content-wrapper #newtablistdrop button
{
	padding:15px 20px;
	display: inline-block;
	text-decoration: none;	
	color:black;
	font-size: 20px;
	font-weight: 100;
}

div#ap-content-wrapper ul#newtablist li.active
{
	border-bottom: 4px inset black;
}

div#ap-content-wrapper ul#newtablist li.active a.tablink,#newtablistdrop button
{
	font-size: 20px;
	font-weight: bold;
}
div#ap-content-wrapper div.new-tab-content 
{
	
}
div#ap-content-wrapper div.new-tab-content div.content-block
{
	display: none;
}
div#ap-content-wrapper div.new-tab-content div.content-block.active
{
	display: block;
}
div#ap-content-wrapper div.previewblock
{
	border:1px solid #dedede;
	
}

div#ap-content-wrapper table.eventlineup tr td
{
	padding:20px;
	color:#4e4e4e;
}

div#ap-content-wrapper table.eventlineup td.starttime, div#ap-content-wrapper table.eventlineup td.slot-details p.slot-description
{
	font-size:24px;
	font-weight:bold;
}

div#ap-content-wrapper table.eventlineup td.slot-details p.slot-sec-description
{
	font-size: 18px;
	color:#9e9e9e;
	font-weight: normal;
}

div#ap-content-wrapper table.eventlineup tr:last-child,div#ap-content-wrapper table.eventlineup tr:last-child td,div#ap-content-wrapper table.eventlineup
{
	border-bottom:none;
}

div#ap-content-wrapper #newtablistdrop button
{
	border:none;
	background-color: transparent;
}

div#ap-content-wrapper .dropdown-toggle
{
	position: relative!important;
}

div#ap-content-wrapper a
{
	box-shadow: none!important;
	border-bottom: none!important;
}

div#ap-content-wrapper .table.eventlineup
{
	/*border:1px solid #ddd;*/
	margin-bottom: 0;
}
div#ap-content-wrapper .table.eventlineup tr td:last
{
	/*border-right:0;*/
}
